{% extends 'layout.njk' %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">FFC POC Service</h1>

      <p class="govuk-body-l">
        This is a Proof of Concept (POC) application for the technical investigation of patterns and practices
        in developing production quality containerised, cloud native, microservice based applications.
        <span class="govuk-!-font-weight-bold">
          This is not a real service and is for demonstration and investigate purposes only!
      </span>
      </p>
      <p class="govuk-body">Use this example service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>simulate submitting a claim for financial aid if your property is affected by subsidence caused by a mine shaft</li>
      </ul>

      <p class="govuk-body">Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start new claim",
        href: "/claim/property-type",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">This is a proof of concept sample application. Actual financial aid is not available.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="/clear-session">
                Clear Session
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>    
  </div>
{% endblock %}
