{% extends 'layout.njk' %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Mine Support</h1>

      <p class="govuk-body">Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>submit claim for financial aid if your propery is affected by subsidence caused by a mine shaft</li>
        <li><a class="govuk-link" href="#">check status of your claim</a></li>
      </ul>

      <p class="govuk-body">Registering takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start new claim",
        href: "/claim/property-type",
        classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You can also <a class="govuk-link" href="#">register by post</a>.</p>

      <p class="govuk-body">The online service is also available in <a class="govuk-link" href="#">Welsh (Cymraeg)</a>.</p>

      <p class="govuk-body">You cannot register for this service if you’re in the UK illegally.</p>
    </div>    
  </div>
{% endblock %}
