{% extends 'layout.njk' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block content %}
  <div class="govuk-body">
    <form method="POST" action="/claim/accessible">
      {{ govukRadios(model) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
{% endblock %}
