{% extends 'layout.njk' %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block content %}
  <div class="govuk-body">
    <form method="POST" action="/claim/date-of-subsidence">
      {{ govukDateInput(model) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
{% endblock %}
