{% extends 'layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block content %}
  <div class="govuk-body">

    {% call govukFieldset({
      legend: {
        text: "What is your email address?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true,
        hint: {
          text: 'We will contact you using this email.'
        }
      }
    }) %}
    <form method="POST" action="/claim/email">
      {{ govukInput(model) }}
      {{ govukButton({
        text: "Submit application"
      }) }}
    </form>

    {% endcall %}
  </div>
{% endblock %}
