{% extends 'layout.njk' %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block content %}
  <div class="govuk-body">
    <form method="POST" action="/claim/mine-type">
      {{ govukCheckboxes(model) }}
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
  </div>
{% endblock %}
